# AI Lesson 04a Part 1: Your First SQL Queries

**Course:** Applications of Artificial Intelligence  
**Focus:** Learning SQL Basics Step-by-Step  

---

## Welcome to SQL!

Today you'll write your first SQL queries to explore NBA data. Don't worry - we'll go slowly and explain everything!

**What you'll learn:**
- How to connect to a database
- How to see what tables exist
- How to SELECT data
- How to use WHERE to filter
- How to use ORDER BY to sort
- How to use LIMIT to control output

**Take your time!** Read each explanation before running the code.

---

## Part 1: Connecting to the Database

First, we need to connect to our NBA database. This is like "opening the file" in SQL.

### Query 1: Import Libraries and Connect

We need two libraries:
- `pandas` - for working with data
- `sqlite3` - for connecting to SQL databases

**Run this cell to get started:**

In [2]:
# Import the libraries we need
import pandas as pd
import sqlite3

# Connect to the NBA database
conn = sqlite3.connect('nba_5seasons.db')

print("âœ… Connected to the database!")
print("You're ready to write SQL queries.")

âœ… Connected to the database!
You're ready to write SQL queries.

**What just happened?**
- We imported pandas and sqlite3
- We created a connection (`conn`) to the database
- This connection lets us run SQL queries

**Keep `conn` open** - we'll use it in every query!

---
## Part 2: Exploring the Database

Before we can query data, we need to know what tables exist!

### Query 2: See All Tables

This special query shows what tables are in the database.

**Fill in the blank:**

In [ ]:
# Query to see all tables
# sqlite_master is SQLiteâ€™s built-in metadata table that lists tables/views/indexes.
# pd.read_sql runs the SQL and returns the results as a pandas DataFrame.
query = """
SELECT name
FROM sqlite_master
WHERE type = 'table'
"""

# Run the query and show results
result = pd.read_sql(______, ______)
display(result)     # display() is a Jupyter function that shows DataFrames in a nicely formatted table

**Hint:** `pd.read_sql(query, conn)` - you need the query and the connection!

**What you should see:** 4 tables - players, teams, player_season_stats, team_game_stats

### Query 3: Look at the teams Table

Let's see what the `teams` table looks like. We'll get the first 5 rows.

**SQL Pattern:**
```sql
SELECT *           -- Get all columns
FROM table_name    -- From this table
LIMIT 5            -- Only show 5 rows
```

**Now you try - fill in the blanks:**

In [ ]:
# Get first 5 teams
# SELECT * returns all columns (quick way to preview a table).
# LIMIT is just a sample size (keeps output small while testing).
query = """
SELECT *
FROM ______
LIMIT ______
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:** Table name is `teams`, and we want `5` rows

**What you should see:** Columns like team_id, full_name, city, state, year_founded

### Query 4: Look at team_game_stats

Now let's peek at the game stats table. Same pattern!

**Fill in the blanks:**

In [ ]:
# Get first 3 game records
query = """
SELECT *
FROM ______
LIMIT ______
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:** Table is `team_game_stats`, show just `3` rows

**What you should see:** Columns like season, game_date, pts, reb, ast, wl (win/loss)

### Query 5: Look at player_season_stats

One more table to explore!

**Your turn - write the whole query:**

In [ ]:
# Get first 5 player season records
query = """
______
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:** Use the same pattern - SELECT * FROM player_season_stats LIMIT 5

**What you should see:** Columns like player_id, season, gp (games played), pts, reb, ast

---
## Part 3: SELECT - Choosing Specific Columns

Instead of `SELECT *` (all columns), we can pick just the columns we want!

### Query 6: Get Team Names Only

Let's get just the team names from the teams table.

**SQL Pattern:**
```sql
SELECT column1, column2    -- List the columns you want
FROM table_name
```

**Fill in the blank:**

In [ ]:
# Get just team names
query = """
SELECT ______
FROM teams
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:** The column for team name is `full_name`

**What you should see:** A single column with team names

### Query 7: Get Team Name and City

Now let's get TWO columns: team name AND city.

**Remember:** Separate columns with commas!

**Fill in the blank:**

In [ ]:
# Get team names and cities
query = """
SELECT ______, ______
FROM teams
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:** `full_name, city` - don't forget the comma!

**What you should see:** Two columns - full_name and city

### Query 8: Get Team Name, City, and State

Let's add a third column!

**Fill in the blanks:**

In [ ]:
# Get team names, cities, and states
query = """
SELECT ______, ______, ______
FROM teams
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:** `full_name, city, state` - commas between each column!

### Query 9: Get Game Stats Columns

From the team_game_stats table, get: game_date, pts (points), and wl (win/loss)

**Don't forget LIMIT to keep it manageable!**

In [ ]:
# Get game date, points, and win/loss
query = """
SELECT ______, ______, ______
FROM team_game_stats
LIMIT 10
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:** `game_date, pts, wl`

### Query 10: Get Player Stats Columns

From player_season_stats, get: player_id, pts, reb, ast

**Your turn - write the full query:**

In [ ]:
# Get player stats
query = """
______
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:** SELECT player_id, pts, reb, ast FROM player_season_stats LIMIT 10

---
## Part 4: WHERE - Filtering Rows

WHERE lets us filter to only the rows we want!

### Query 11: Find California Teams

Let's find all teams in California.

**SQL Pattern:**
```sql
SELECT columns
FROM table
WHERE column = 'value'    -- Text needs single quotes!
```

**Fill in the blanks:**

In [ ]:
# Find California teams
query = """
SELECT full_name, city, state
FROM teams
WHERE ______ = ______
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:** `state = 'California'` - Don't forget the quotes around California!

**What you should see:** 4 teams (Lakers, Clippers, Warriors, Kings)

### Query 12: Find Texas Teams

Now find teams in Texas!

**Same pattern, different state:**

In [ ]:
# Find Texas teams
query = """
SELECT full_name, city
FROM teams
WHERE state = ______
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:** `'Texas'` - with quotes!

### Query 13: Find Wins Only

From team_game_stats, find only games that were wins (wl = 'W')

**Fill in the blanks:**

In [ ]:
# Find only wins
query = """
SELECT game_date, pts, wl
FROM team_game_stats
WHERE ______ = ______
LIMIT 10
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:** `wl = 'W'` - single quotes around the W!

### Query 14: Find High-Scoring Games

Find games where pts (points) >= 120

**Note:** Numbers DON'T need quotes!

**Fill in the blanks:**

In [ ]:
# Find high-scoring games (120+ points)
# Use >, <, >=, <= to filter numeric columns by a threshold.
query = """
SELECT game_date, pts, wl
FROM team_game_stats
WHERE ______ >= ______
LIMIT 10
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:** `pts >= 120` - no quotes for numbers!

### Query 15: Find 2021-22 Season Games

Find games from the '2021-22' season.

**Note:** '2021-22' is stored as TEXT, so it needs quotes!

In [ ]:
# Find 2021-22 season games
query = """
SELECT game_date, pts, wl
FROM team_game_stats
WHERE season = ______
LIMIT 10
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:** `'2021-22'` - needs quotes because it's text!

---
## Part 5: Combining WHERE with AND

You can combine multiple conditions with AND!

### Query 16: Wins with 100+ Points

Find games that were BOTH:
- Wins (wl = 'W')
- Scored 100+ points

**SQL Pattern:**
```sql
WHERE condition1 AND condition2
```

**Fill in the blanks:**

In [ ]:
# Find wins with 100+ points
# AND combines multiple filters (all conditions must be true).
query = """
SELECT game_date, pts, wl
FROM team_game_stats
WHERE wl = 'W' AND ______ >= ______
LIMIT 10
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:** `pts >= 100`

### Query 17: 2021-22 Season Wins

Find games that are BOTH:
- From 2021-22 season
- Wins

**Fill in the blanks:**

In [ ]:
# Find 2021-22 wins
# Filtering by season prevents mixing games from different years.
query = """
SELECT game_date, pts, wl
FROM team_game_stats
WHERE season = '2021-22' AND ______ = ______
LIMIT 10
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:** `wl = 'W'`

### Query 18: High-Scoring Wins in 2021-22

Find games with ALL THREE:
- Season = '2021-22'
- Wins
- 120+ points

**Your turn:**

In [ ]:
# Find high-scoring wins in 2021-22
query = """
SELECT game_date, pts, wl
FROM team_game_stats
WHERE ______ AND ______ AND ______
LIMIT 10
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:** `season = '2021-22' AND wl = 'W' AND pts >= 120`

---
## Part 6: ORDER BY - Sorting Results

ORDER BY lets us sort the results!

### Query 19: Teams Sorted by Name

Get all teams, sorted alphabetically by name.

**SQL Pattern:**
```sql
SELECT columns
FROM table
ORDER BY column    -- ASC (ascending) is default
```

**Fill in the blank:**

In [ ]:
# Teams sorted alphabetically
# ORDER BY sorts results (ASC lowâ†’high, DESC highâ†’low).
query = """
SELECT full_name, city
FROM teams
ORDER BY ______
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:** `full_name` - sorts A to Z by default

### Query 20: Games Sorted by Points (Lowest to Highest)

Show games sorted by points (ascending = lowest first)

**Fill in the blanks:**

In [ ]:
# Games sorted by points (lowest first)
query = """
SELECT game_date, pts, wl
FROM team_game_stats
WHERE season = '2021-22'
ORDER BY ______
LIMIT 10
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:** `pts` or `pts ASC` - both work!

### Query 21: Games Sorted by Points (Highest to Lowest)

Show games sorted by points DESCENDING (highest first)

**Use DESC for descending!**

**Fill in the blank:**

In [ ]:
# Top 10 highest-scoring games
query = """
SELECT game_date, pts, wl
FROM team_game_stats
WHERE season = '2021-22'
ORDER BY ______ ______
LIMIT 10
"""

result = pd.read_sql(query, conn)
display(result)

**ðŸ’¡ Hint:** `pts DESC` - DESC means highest to lowest

### Query 22: Teams by State, Then Name

Sort by state first, then by team name within each state.

**You can ORDER BY multiple columns!**

In [ ]:
# Teams sorted by state, then name
query = """
SELECT full_name, city, state
FROM teams
ORDER BY ______, ______
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:** `state, full_name` - sort by state first, then name

---
## Part 7: Putting It All Together

Now let's combine everything: SELECT, WHERE, ORDER BY, and LIMIT!

### Query 23: Top 5 Losses in 2021-22

Find the 5 lowest-scoring losses from 2021-22.

**Remember the order:**
1. SELECT
2. FROM
3. WHERE
4. ORDER BY
5. LIMIT

**Fill in the blanks:**

In [ ]:
# Top 5 lowest-scoring losses
query = """
SELECT game_date, pts, wl
FROM team_game_stats
WHERE season = '2021-22' AND wl = ______
ORDER BY pts ______
LIMIT ______
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:** wl = 'L', ORDER BY pts ASC (or just pts), LIMIT 5

### Query 24: Top 10 Highest-Scoring Wins

Find the 10 highest-scoring wins from any season.

**Your turn - write the full query:**

In [ ]:
# Top 10 highest-scoring wins
query = """
______
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:**
```sql
SELECT game_date, pts, wl
FROM team_game_stats
WHERE wl = 'W'
ORDER BY pts DESC
LIMIT 10
```

### Query 25: California Teams Sorted by Age

Find California teams, sorted by year_founded (oldest first).

**Challenge - write it all yourself!**

In [ ]:
# California teams, oldest first
query = """
______
"""

result = pd.read_sql(query, conn)
display(result)

**Hint:**
```sql
SELECT full_name, city, year_founded
FROM teams
WHERE state = 'California'
ORDER BY year_founded
```

---
## Cleanup

Always close your database connection when you're done!

In [ ]:
# Close the connection
conn.close()
print("âœ… Database connection closed")
print("Great work today!")

---
## Congratulations!

You just wrote 25 SQL queries! You learned:

âœ… How to connect to a database  
âœ… How to explore tables with SELECT *  
âœ… How to choose specific columns with SELECT  
âœ… How to filter rows with WHERE  
âœ… How to combine conditions with AND  
âœ… How to sort results with ORDER BY  
âœ… How to limit output with LIMIT  

---

## Key Takeaways

**Remember:**
1. Text needs `'single quotes'` - numbers don't
2. Clause order: SELECT â†’ FROM â†’ WHERE â†’ ORDER BY â†’ LIMIT
3. `DESC` for high to low, `ASC` (or nothing) for low to high
4. Use AND to combine multiple conditions
5. Always test with LIMIT when learning!

---

## Next Steps

Ready for more? In the next lesson (ai04aTasks Part 2), you'll:
- Write more complex queries
- Work with player statistics
- Export data to Excel
- Create datasets for machine learning!