# AI Lesson 04a Part 1: Your First SQL Queries
## **INSTRUCTOR SOLUTIONS**

**Course:** Applications of Artificial Intelligence  
**Focus:** Learning SQL Basics Step-by-Step  

---

This file contains all solutions for the Part 1 introductory tasks.

**Students will learn:**
- Database connections
- Basic SELECT statements
- WHERE clause filtering
- ORDER BY sorting
- LIMIT control
- AND combinations

---

## Part 1: Connecting to the Database

In [ ]:
# Query 1: SOLUTION
import pandas as pd
import sqlite3

conn = sqlite3.connect('nba_5seasons.db')

print("✅ Connected to the database!")
print("You're ready to write SQL queries.")

## Part 2: Exploring the Database

In [ ]:
# Query 2: SOLUTION - See all tables
query = """
SELECT name
FROM sqlite_master
WHERE type = 'table'
"""

result = pd.read_sql(query, conn)
display(result)

In [ ]:
# Query 3: SOLUTION - Look at teams table
query = """
SELECT *
FROM teams
LIMIT 5
"""

result = pd.read_sql(query, conn)
display(result)

In [ ]:
# Query 4: SOLUTION - Look at team_game_stats
query = """
SELECT *
FROM team_game_stats
LIMIT 3
"""

result = pd.read_sql(query, conn)
display(result)

In [ ]:
# Query 5: SOLUTION - Look at player_season_stats
query = """
SELECT *
FROM player_season_stats
LIMIT 5
"""

result = pd.read_sql(query, conn)
display(result)

## Part 3: SELECT - Choosing Specific Columns

In [ ]:
# Query 6: SOLUTION - Get team names only
query = """
SELECT full_name
FROM teams
"""

result = pd.read_sql(query, conn)
display(result)

In [ ]:
# Query 7: SOLUTION - Get team name and city
query = """
SELECT full_name, city
FROM teams
"""

result = pd.read_sql(query, conn)
display(result)

In [ ]:
# Query 8: SOLUTION - Get team name, city, and state
query = """
SELECT full_name, city, state
FROM teams
"""

result = pd.read_sql(query, conn)
display(result)

In [ ]:
# Query 9: SOLUTION - Get game stats columns
query = """
SELECT game_date, pts, wl
FROM team_game_stats
LIMIT 10
"""

result = pd.read_sql(query, conn)
display(result)

In [ ]:
# Query 10: SOLUTION - Get player stats columns
query = """
SELECT player_id, pts, reb, ast
FROM player_season_stats
LIMIT 10
"""

result = pd.read_sql(query, conn)
display(result)

## Part 4: WHERE - Filtering Rows

In [ ]:
# Query 11: SOLUTION - Find California teams
query = """
SELECT full_name, city, state
FROM teams
WHERE state = 'California'
"""

result = pd.read_sql(query, conn)
display(result)

# Expected: 4 teams (Lakers, Clippers, Warriors, Kings)

In [ ]:
# Query 12: SOLUTION - Find Texas teams
query = """
SELECT full_name, city
FROM teams
WHERE state = 'Texas'
"""

result = pd.read_sql(query, conn)
display(result)

# Expected: 3 teams (Mavericks, Rockets, Spurs)

In [ ]:
# Query 13: SOLUTION - Find wins only
query = """
SELECT game_date, pts, wl
FROM team_game_stats
WHERE wl = 'W'
LIMIT 10
"""

result = pd.read_sql(query, conn)
display(result)

In [ ]:
# Query 14: SOLUTION - Find high-scoring games
query = """
SELECT game_date, pts, wl
FROM team_game_stats
WHERE pts >= 120
LIMIT 10
"""

result = pd.read_sql(query, conn)
display(result)

In [ ]:
# Query 15: SOLUTION - Find 2021-22 season games
query = """
SELECT game_date, pts, wl
FROM team_game_stats
WHERE season = '2021-22'
LIMIT 10
"""

result = pd.read_sql(query, conn)
display(result)

## Part 5: Combining WHERE with AND

In [ ]:
# Query 16: SOLUTION - Wins with 100+ points
query = """
SELECT game_date, pts, wl
FROM team_game_stats
WHERE wl = 'W' AND pts >= 100
LIMIT 10
"""

result = pd.read_sql(query, conn)
display(result)

In [ ]:
# Query 17: SOLUTION - 2021-22 season wins
query = """
SELECT game_date, pts, wl
FROM team_game_stats
WHERE season = '2021-22' AND wl = 'W'
LIMIT 10
"""

result = pd.read_sql(query, conn)
display(result)

In [ ]:
# Query 18: SOLUTION - High-scoring wins in 2021-22
query = """
SELECT game_date, pts, wl
FROM team_game_stats
WHERE season = '2021-22' AND wl = 'W' AND pts >= 120
LIMIT 10
"""

result = pd.read_sql(query, conn)
display(result)

## Part 6: ORDER BY - Sorting Results

In [ ]:
# Query 19: SOLUTION - Teams sorted by name
query = """
SELECT full_name, city
FROM teams
ORDER BY full_name
"""

result = pd.read_sql(query, conn)
display(result)

In [ ]:
# Query 20: SOLUTION - Games sorted by points (lowest to highest)
query = """
SELECT game_date, pts, wl
FROM team_game_stats
WHERE season = '2021-22'
ORDER BY pts
LIMIT 10
"""
# Note: ORDER BY pts ASC also works

result = pd.read_sql(query, conn)
display(result)

In [ ]:
# Query 21: SOLUTION - Games sorted by points (highest to lowest)
query = """
SELECT game_date, pts, wl
FROM team_game_stats
WHERE season = '2021-22'
ORDER BY pts DESC
LIMIT 10
"""

result = pd.read_sql(query, conn)
display(result)

In [ ]:
# Query 22: SOLUTION - Teams by state, then name
query = """
SELECT full_name, city, state
FROM teams
ORDER BY state, full_name
"""

result = pd.read_sql(query, conn)
display(result)

## Part 7: Putting It All Together

In [ ]:
# Query 23: SOLUTION - Top 5 lowest-scoring losses
query = """
SELECT game_date, pts, wl
FROM team_game_stats
WHERE season = '2021-22' AND wl = 'L'
ORDER BY pts
LIMIT 5
"""
# Note: ORDER BY pts ASC also works

result = pd.read_sql(query, conn)
display(result)

In [ ]:
# Query 24: SOLUTION - Top 10 highest-scoring wins
query = """
SELECT game_date, pts, wl
FROM team_game_stats
WHERE wl = 'W'
ORDER BY pts DESC
LIMIT 10
"""

result = pd.read_sql(query, conn)
display(result)

In [ ]:
# Query 25: SOLUTION - California teams sorted by age
query = """
SELECT full_name, city, year_founded
FROM teams
WHERE state = 'California'
ORDER BY year_founded
"""
# Note: ORDER BY year_founded ASC also works

result = pd.read_sql(query, conn)
display(result)

# Expected: Warriors (1946), Kings (1948), Lakers (1948), Clippers (1970)

## Cleanup

In [ ]:
conn.close()
print("✅ Database connection closed")
print("Great work today!")

---
## Summary for Instructors

**This lesson covered:**
- 25 progressive SQL queries
- Database connections
- SELECT with * and specific columns
- WHERE filtering (text and numbers)
- AND combinations
- ORDER BY (ASC and DESC)
- LIMIT
- Proper SQL clause ordering

**Common student mistakes to watch for:**
1. Forgetting quotes around text values
2. Wrong clause order (e.g., LIMIT before WHERE)
3. Using == instead of =
4. Comma after last SELECT column
5. Forgetting to import libraries or connect

**Next lesson (ai04aTasks Part 2):**
- More complex queries
- Player statistics
- Excel exports
- ML dataset creation